:root {
  --accent: #64ffda;
  --accent-rgb: 100, 255, 218;
  --muted: #94a3b8;
  --header-bg: rgba(15, 15, 15, 0.8);

  --bg: #0f0f10;
  --text: #e5e7eb;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
